body {
    font-family: 'Afacad Flux';

    transform: scale(1.5);
    transform-origin: top left;

    overflow-x: hidden;
}

a:link {
    color: #dbbdff;
}

a:visited {
    color: #dde1ff;
}

.text {
    margin: 0;
}

.top {
    display: inline-block;
    margin-top: 2.5rem;
    margin-left: 10rem;
}

.friend {
    border-radius: 50%;
}

.button {
    text-decoration: none;
}

.profile_picture {
    border-radius: 50%;
    padding: 1rem;
    position: absolute
}